@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 0; */
  background-color: lightblue;
}

/* NAV START */

.nav {
  background-color: rgba(51, 51, 51, 0.167);
  font-family: 'El Messiri', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  min-width: 100%;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  float: right;
}

.nav a {
  color: rgb(68, 68, 73);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: rgba(160, 153, 153, 0.385);
  
}
.nav li:hover {
  background-color: rgba(248, 246, 246, 0.599);
}

/* NAV END */

/* HOME START */

.home {
  background-image: url("https://image-tc.galaxy.tf/wijpeg-cdmw1fj4er962o2mnhxhpwlte/terrace1-high-res-2-25750b.jpg?width=1920");
  width: 100%;
  height: 120%;
  position:fixed;
  top: 10;
  left: 0;
  margin: 0 auto;
  display: center;
  padding: 1rem 3rem;
  background-size: contain;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  margin:auto;

  
}

.message_to_guest {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  color: black;
  font-size: 1.5em;
  font-family: 'El Messiri', sans-serif;
}

#message2 {
  position:relative;
  top: 45%;
}

/* HOME END */

/* RESERVATIONS START */

.reservations {
  /* background-image: url("https://le-rex-hotel-tarbes.booked.net/data/Photos/OriginalPhoto/11840/1184097/1184097502/Le-Rex-Hotel-Tarbes-Exterior.JPEG"); */
  background-image: url("https://rare-gallery.com/uploads/posts/5299773-marble-pattern-blue-swirl-minimal-texture-abstract-agate-liquid-mix-fluid-background-texture-blue-texture-marbled-texture-marble-background-marble-texture-minimalistic-minimalist-minimalism-sw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:black;
  display: grid;
  grid-template-rows: 15vh 20vh 55vh;
  grid-template-columns: 25vw 25vw 25vw 25vw;  
  font-family: 'El Messiri', sans-serif;

}

.form-container {
  grid-row: 1;
  grid-column: 1 / span 4;
}

.show-form-btn {
  height:100%;
  width:24.8vw;
  font-size: 20px;
  font-family: 'El Messiri', sans-serif;
}

.res-form-div{
  float:right;
  text-align: center;
  /* border: 5px solid blue; */
  height: 15vh;
  width:75%;
  align-content: space-around;
  background-color:white;
}

.res-form {
  /* height: 100%;
  width: 100%; */
}

.form-selects{
  width: 15vw;
  height: 7vh;
  float: left;
}

.form-label{

}

.date-selects{
  width: 25.1vw;
  height: 8vh;
  float: left;
}

.form-submit-btn{
  float: right;
  height:8vh;
  width:24.8vw;
}

.room-includes-container {
  grid-row: 2;
  display: flex;
  flex-direction: row;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.655);
  padding: 2px;
  height: 15vh;
  width: 90vw;
  margin: auto;
  margin-top: 5vh;
  overflow: hidden;
  white-space: nowrap;
}

.includes-header{
  margin: auto;
}
.includes-list{
  margin: auto;
}

.room-container {
  grid-row: 3;
  min-height: 100%;
  /* border: 5px solid yellow; */
  align-items: center; 
  margin: auto;
}

.room-card {
  /* border: 5px solid black; */
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.655);
  display:grid;
  min-height: 45vh;
  max-height: 45vh;
  min-width: 20vw;
  width: 23vw;
  padding:1vw;
  justify-self: center;
  margin-top: 5vh;
}

.room-titles{
  text-align: center;
  /* border: 2px solid green; */
  height: 10vh;
  width: 100%;
}

.bed-images {
  max-width: 100%;
  max-height: 90%;
  /* height: 24%; */
  width: 100%;
  margin-left: 1%;
  margin-right:1%;
  object-fit: contain;
  padding: 3px;
}

.hover-bed-container {
  min-height: 23vh;
  width: 23vw;
  margin: auto;
}

.hover-bed {
  font-size: 20px;
  text-align: center;
  margin-right: 3vw;;
}

/* RESERVATIONS END */

/* AMENITIES START */

.amenities-container {
  background-image: linear-gradient(rgb(25, 8, 41), rgb(108, 108, 104));
  display: flex;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
  justify-content: center;
}

.row-1{
  padding: 20px;
  justify-content: center;
  margin-bottom: 18px;
}

.amenity-details-container{
  justify-content: center;
  display: inline-grid;
  backdrop-filter: blur(4px);
  background-color: rgba(215, 209, 209, 0.642);
  margin-top: 40px;
  margin-bottom: 18px;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  min-width: 90vw;
  max-width: 90vw;
  min-height: 50vh;
}

.icons{
  color: azure;
  height: 20vh;
  width: 20vw;
  margin: auto;
}

.am-name{
  font-size: 30px;
  font-family: 'El Messiri', sans-serif;
}

.am-desc{
  font-size: 20px;
  font-family: 'El Messiri', sans-serif;
}

.scroll-div{
  background-color: rgb(108, 108, 104);
}

.scroll-container {
  overflow: scroll;
  color: white;
  background-color: white;
  margin: auto;
  text-decoration: none;
  flex-direction: row;
  display: inline;
  flex-wrap: nowrap;
  display: flex;
  padding: 20px;
  }
  
  .scrollableimages {
    display: inline-block;
    object-fit: cover;
    width: 25em;
    height: 15em;
    border: 3px solid rgb(255, 255, 255);
    color: black;
  }
  


/* AMENITIES END */

/* ACCOUNT START */

/* .user-container {
  background-color: rgb(236, 34, 34);
  display: flex grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 50vw 50vw; 
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
} */

.welcome-user {
  grid-row: 1;
  grid-column: 1 / span 2;
  background-color: rgba(250, 235, 215, 0.349);
}

.user-reservation-card {
  display: grid;
  background-color: yellow;
  grid-row: 2;
  grid-column: 1 / span 2;
  min-height: 80vh;
}

.user-left {
  grid-row: 2;
  grid-column: 1;
  background-color: blue;
  min-height: 48vh;
}

.user-res-room {
  background-color: green;

  height: 50%;
  margin: auto;

}

.user-res-date {
  background-color: rgb(255, 0, 225);
  height: 50%;
  margin: auto;
}

.user-right {
  grid-row: 2;
  grid-column: 2;
  /* width: 50%;
  float: right; */
  background-color: purple;
  /* min-width: 40vw;
  min-height: 48vh;
  max-height: 48vh; */
  /* margin: auto; */
  /* margin-bottom: 50vw; */
}

.res-room-img {
  background-color: brown;
  /* object-fit: fill;
  width: 100%;
  height: 100%; */
}

/* ACCOUNT END */