@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display:flex;
}

.nav {
  backdrop-filter: blur(1px);
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.167);
  font-family: 'El Messiri', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.nav a {
  color: rgb(68, 68, 73);
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  background-color: rgba(160, 153, 153, 0.385);
  
}
.nav li:hover {
  background-color: rgba(248, 246, 246, 0.599);
}

.home {
  background-image: url("https://www.jetsetter.com//uploads/sites/7/2018/04/8epy_s2K-1380x690.jpeg");
  width: 100%;
  height: 120%;
  /* position: absolute; */
  position:fixed;
  top: 10;
  left: 0;
  margin: 0 auto;
  display: center;
  padding: 1rem 3rem;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
}